@use "./colors" as *;

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

// section {
// 	scroll-margin-top: 100.5px;
// }

body {
	height: 100vh;
	font-family: "Poppins", sans-serif;
	background-color: $whitesmoke;
}

.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}
